# Python
__pycache__/
*.py[cod]
*.pyd

# Virtual environment
.venv/

# uv
.python-version

# Caches
.ruff_cache/
.mypy_cache/

# Distribution
dist/
build/
*.egg-info/

# Editor
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini
